* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: sans-serif;
}

.center {
    max-width: 1280px;
  
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

.three-column-grid {
    display: grid;
    grid-template-columns: auto auto auto;
}

.two-column-left-grid {
    display: grid;
    grid-template-columns: auto 100px;
}

.two-column-grid {
    display: grid;
    grid-template-columns: 100px auto;
}

.two-column-grid__expand-one {
    display: grid;
    grid-template-columns: 1fr auto;
}

.main-column {
    width: 700px;
    border-left: 2px solid rgba(211, 211, 211, 0.746);
    border-right: 2px solid rgba(211, 211, 211, 0.746);
}

.left-column {
    position: -webkit-sticky;
    position: sticky; top: 0;
    background-color: white;
}

.right-column-grid {
    display: grid;
    grid-template-columns: 20px auto;
    position: -webkit-sticky;
    position: sticky; top: 0;
    background-color: white;
}

.article-box-2-column-grid {
    display: grid;
    grid-template-columns: 1fr auto;
}

.search-bar {
    margin-top: 5px;
    background-color: rgba(211, 211, 211, 0.561);
    border-radius: 40px;
    width: 415px;
    height: 60px;
}

.search-bar-img {
    width: 25px;
    height: auto;
    border: none;
}

.search-button {
    border: none;
    background-color: rgba(211, 211, 211, 0);
    margin-top: 17.5px;
    margin-left: 10px;
    position: absolute;
}
.search-box {
    height: 55px;
    width: 370px;
    border-radius: 40px;
    margin-top: 2px;
    margin-left: 37px;
    border: none;
    background-color: rgba(211, 211, 211, 0);
}

.article-box {
    width: 415px;
    height: auto;
    background-color: rgba(211, 211, 211, 0.561);
    margin-top: 1.2rem;
    border-radius: 20px;   
}

.article-center {
    margin-left: auto;
    margin-right: auto;
}

.article-header {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 1rem;
}

.article-img {
    width: auto;
    height: 80px;
    margin-right: 1rem;
    margin-top: 1rem;
}

.grey-text {
    color: rgb(56, 56, 56);
}

.article-text-space {
    margin-bottom: .5rem;
    margin-top: .5rem;
    margin-left: 1rem;
}

.article-space {
    margin-top: 1rem;
}

article {
    border-top: 1px solid rgba(179, 177, 177, 0.712);
    border-bottom: 1px solid rgba(179, 177, 177, 0.712);
}

.promote-img {
    width: 16px;
    height: auto;
    margin-left: 1rem;
}

.show-more {
    margin-left: 1rem;
    height: 40px;
    width: 80px;
    border: none;
    background-color: rgba(211, 211, 211, 0);
    color: rgb(3, 96, 218);
    font-size: 1.7ch;
    font-weight: 500;
}