* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: sans-serif;
}

.three-column-grid {
    display: grid;
    grid-template-columns: 400px 700px 500px;
}

.two-column-grid {
    display: grid;
    grid-template-columns: 100px auto;
}

.two-column-grid__expand-one {
    display: grid;
    grid-template-columns: 1fr auto;
}

.main-column {
    width: 500px;
}
.header-img {
    width: 20px;
    height: auto;
}

h1 {
    display: inline-block;
}